.triangleBox{
	width: 100vw;
	height: 100vh;
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	z-index:5;
	overflow: hidden;
	z-index: 99;
}
.triangleBox.jumpTo{
	display: block;
}
.triangle{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(69,43,33,1);
}
.tri1{
	clip-path: polygon(0% 0%,25% 0%,0% 25%);
	animation: bottom 0.7s backwards;
}
.tri2{
	clip-path: polygon(25% 0%,50% 25%,25% 50%,0% 25%);
	animation: top 0.7s .3s backwards;
}
.tri3{
	clip-path: polygon(25% 0%,75% 0%,50% 25%);
	animation: bottom 0.7s backwards;
}
.tri4{
	clip-path: polygon(75% 0%,100% 0%,75% 25%);
	animation: left 0.7s backwards;
}
.tri5{
	clip-path: polygon(100% 0%,100% 25%,75% 25%);
	animation: bottom 0.7s backwards;
}
.tri6{
	clip-path: polygon(50% 25%,50% 50%,25% 50%);
	animation: left 0.7s backwards;
}
.tri7{
	clip-path: polygon(75% 0%,75% 50%,50% 50%,50% 25%);
	animation: right 0.7s .1s backwards;
}
.tri8{
	clip-path: polygon(75% 25%,100% 50%,75% 75%);
	animation: bottom 0.7s backwards;
}
.tri9{
	clip-path: polygon(75% 25%,100% 25%,100% 50%);
	animation: top 0.7s .1s backwards;
}
.tri10{
	clip-path: polygon(0% 25%,25% 50%,0% 75%);
	animation: right 0.7s backwards;
}
.tri11{
	clip-path: polygon(25% 50%,25% 75%,0% 100%,0% 75%);
	animation: top 0.7s .2s backwards;
}
.tri12{
	clip-path: polygon(25% 50%,50% 50%,50% 100%,25% 75%);
	animation: bottom 0.7s .1s backwards;
}
.tri13{
	clip-path: polygon(50% 50%,75% 50%,75% 75%,50% 75%);
	animation: top 0.7s .3s backwards;
}
.tri14{
	clip-path: polygon(100% 50%,100% 75%,75% 100%,75% 75%);
	animation: right 0.7s backwards;
}
.tri15{
	clip-path: polygon(0% 100%,25% 75%,50% 100%);
	animation: left 0.7s .2s backwards;
}
.tri16{
	clip-path: polygon(50% 75%,75% 100%,50% 100%);
	animation: right 0.7s backwards;
}
.tri17{
	clip-path: polygon(50% 75%,75% 75%,75% 100%);
	animation: left 0.7s .3s backwards;
}
.tri18{
	clip-path: polygon(100% 75%,100% 100%,75% 100%);
	animation: top 0.7s .1s backwards;
}

@keyframes top{
	0%{top: -100vh;left: 0;background-color: rgba(69,43,33,.0);}
	100%{top:0;left: 0;background-color: rgba(69,43,33,1);}
}
@keyframes bottom{
	0%{top: 100vh;left: 0;background-color: rgba(69,43,33,.0);}
	100%{top:0;left: 0;background-color: rgba(69,43,33,1);}
}
@keyframes left{
	0%{top: 0;left: -100vw;background-color: rgba(69,43,33,.0);}
	100%{top:0;left: 0;background-color: rgba(69,43,33,1);}
}
@keyframes right{
	0%{top:0;left: 100vw;background-color: rgba(69,43,33,.0);}
	100%{top:0;left: 0;background-color: rgba(69,43,33,1);}
}